
body {
  margin: 0;
  overflow-x: hidden;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: calc(105vh - 150px); 
  overflow: hidden;
}

.right-side {
  /* height: calc(105vh - 150px); */
  background-image: url('https://source.unsplash.com/1600x900/?pizza,restaurant');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  /* padding-top: 4vh; */
}

.right-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wilmax.com/cdn/shop/articles/64562323.webp?v=1730181048');
}

.content {
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.content p {
  font-size: 1.4rem;
  margin-bottom: 20px;
  max-width: 600px;
}