<div class="container">

  <div class="toggle-toolbar">
    <div class="switch-container">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="showShoppingList" (change)="onShoppingListToggle($event)">
        <span class="slider round"></span>
      </label>
      <span class="switch-text">Shopping List</span>
    </div>

    <div class="switch-container">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="showAllProducts">
        <span class="slider round"></span>
      </label>
      <span class="switch-text">All Products</span>
    </div>
  </div>

  <div *ngIf="showShoppingList && productsFound.length > 0" class="products-section">
    <h2 class="has-text-align-center">Products from your Shopping List</h2>
    <!-- <div class="search-bar">
      <input type="text" placeholder="Search matched products..." [(ngModel)]="searchFound"
        (input)="onSearchFoundChange()" />
    </div> -->
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of filteredFound">
        <img [src]="product.imageLink" alt="{{ product.name }}" />
        <h6 class="product-name">{{ product.name }}</h6>
        <div class="price">
          <span class="discounted-price">{{ product.price | number:'1.2-2' }}€ </span>
          <span>{{ product.category }}</span>
        </div>

        <div class="card-footer">
          <button *ngIf="!product.quantity || product.quantity === 0" class="btn btn-primary"
            (click)="addToCart(product)"><i class="fa-solid fa-cart-shopping fa-lg"></i></button>

          <div class="quantity-control" *ngIf="product.quantity && product.quantity > 0">
            <button class="btn btn-light" (click)="decrement(product)">−</button>
            <span class="quantity">{{ product.quantity }}</span>
            <button class="btn btn-light" (click)="increment(product)">+</button>
          </div>

          <div class="brand">
            <img [src]="getBrandLogoUrl(product.sourceName)" [alt]="product.sourceName + ' logo'" class="brand-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showShoppingList && productsFound.length == 0" class="products-section">
    <h3 class="has-text-align-center">There are no available items in the market from your current Shopping List. Sorry!
    </h3>
  </div>
  <br>
  <div *ngIf="showAllProducts" class="products-section mt-5">
    <h2 class="has-text-align-center">All Products</h2>
    <div class="search-bar">
      <input type="text" placeholder="Search all products..." [(ngModel)]="searchAll" (input)="filterAll()" />
    </div>
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of pagedProducts">
        <img [src]="product.imageLink" alt="{{ product.name }}" />
        <!-- <div class="brand">{{product.sourceName}}</div> -->
        <h6 class="product-name">{{ product.name }}</h6>
        <div class="price">
          <span class="discounted-price">{{ product.price | number:'1.2-2' }}€ </span>
          <span>{{ product.category }}</span>
        </div>

        <div class="card-footer">
          <button *ngIf="!product.quantity || product.quantity === 0" class="btn btn-primary"
            (click)="addToCart(product)"><i class="fa-solid fa-cart-shopping fa-lg"></i></button>

          <div class="quantity-control" *ngIf="product.quantity && product.quantity > 0">
            <button class="btn btn-light" (click)="decrement(product)">−</button>
            <span class="quantity">{{ product.quantity }}</span>
            <button class="btn btn-light" (click)="increment(product)">+</button>
          </div>

          <div class="brand">
            <img [src]="getBrandLogoUrl(product.sourceName)" [alt]="product.sourceName + ' logo'" class="brand-logo" />
          </div>

        </div>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-controls">
      <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">‹</button>

      <button *ngFor="let page of totalPagesArray" [class.active-page]="currentPage === page"
        (click)="changePage(page)">
        {{ page }}
      </button>

      <button [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">›</button>
    </div>

  </div>

</div>