<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="image" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a  style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a  style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<br>
<div class="table-wrapper">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 simple-table" multiTemplateDataRows>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.baseName.name}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="custom-row"></tr>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <h2>Instructions</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.instructions}}</p>
  </div>
</div>

