.checkout-wrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.checkout-left {
  flex: 2;
  min-width: 300px;
}


.section-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.review-box {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.review-box h3 {
  margin-bottom: 0.5rem;
  color: #444;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 5rem;
} 

.button-group button {
  min-width: 5rem;
  padding:  var(--button-padding);
  background-color: var(--color-primary);
  color: var(--color-background-primary);
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
}

h2,h3 {
font-family: var(--font-family-primary);
text-align: center;
}

.paypal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}