/* Set fixed widths for columns */
.column-name {
  width: 600px;
}

.column-amount {
  width: 600px;
}

/* Optional: Make the table a little narrower and centered */
.custom-table {
  width: 100%;
  margin: 0 auto;
  /*background-color: #f0f0f0;*/
}

/* Hover effect on rows */
.custom-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.table-container {
  max-height: 450px;
  overflow: auto;
  margin-bottom: 1rem;
}

.filter-row-inputs {
  display: flex;
  gap: 1rem;
  padding: 8px 0;
}

.filter-row input {
  width: 100%;
}

/* shopping-list.component.css */
.chart-wrapper {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.chart-wrapper h4 {
  margin-bottom: 0.5rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.charts-container .chart-wrapper {
  margin-bottom: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1,h4,th,td {
font-family: var(--font-family-primary);
text-align: center;
}

::ng-deep .custom-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--color-toggle-on);
}

::ng-deep .custom-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-toggle-off); 
}

.empty-order-history-container {
    max-height: calc(100vh - 150px); 
    overflow-y: auto;
    padding-top: 150px;
    padding-right: 10px; /* optional: spacing for scrollbar */
}

h2 {
    font-family: "Pacifico", cursive !important;
    font-optical-sizing: auto;
    text-align: center;
}