.checkout-wrapper {
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  flex-wrap: wrap;
}


.checkout-left {
  flex: 2;
  min-width: 300px;
}


.address-form input,
.address-form select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.salutation-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.salutation-buttons button {
  flex: 1;
  padding: var(--spacing-xs);;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background-primary);
  color: var(--color-primary);
  border-radius: var(--button-radius);
  cursor: pointer;
}

.salutation-buttons button:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-background-primary);
}

.salutation-buttons button.selected {
  background-color: var(--color-primary); /* red */
  color: var(--color-background-primary);
  border-color: var(--color-primary);
}


.button-group {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem;
  margin-top: 1rem; */
  margin-top: 1rem;
  padding: 0 2rem;
}


.button-group button {
  min-width: 5rem;
  padding:  var(--button-padding);
  background-color: var(--color-primary);
  color: var(--color-background-primary);
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
}

.button-group button:hover {
  background-color: var(--color-primary-hover);  
  border-color: var(--color-primary-hover);
}

.button-group button:disabled {
  background-color: var(--color-disabled); 
  cursor: not-allowed;
  opacity: 0.8; 
}

h2 {
font-family: var(--font-family-primary);
text-align: center;
}